@charset "UTF-8";

/*
 * common style
 */
$devise_pc_min_width: 1280px;
$devise_tb_max_width: 1279px;
$devise_tb_min_width: 768px;
$devise_sp_max_width: 767px;

@media (max-width: $devise_tb_max_width) {
  .pc-visibility { display: none; } 
}
@media (min-width: $devise_pc_min_width) {
  .tb-visibility { display: none; }
}
@media (max-width: $devise_sp_max_width) {
  .tb-visibility { display: none; } 
}
@media (max-width: $devise_sp_max_width) {
  .pc-tb-visibility { display: none; }
}
@media (min-width: $devise_pc_min_width) {
  .tb-sp-visibility { display: none; } 
}
@media (min-width: $devise_tb_min_width) {
  .sp-visibility { display: none; }
}

/*
 * color settings
 */
$blue: #6DAADE;

.main-container {
  margin: 0 auto;
  width: 1000px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding: 150px 0 0;
    position: relative;
    text-align: center;
    &::after {
      border: 15px solid transparent;
      border-top: 15px solid $blue;
      content: "";
      display: block;
      height: 0;
      margin: 5px auto 10px;
      width: 0;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 15px 0 5px;
  }
  h4 {
    font-weight: bold;
    line-height: 1.5;
    padding: 7px 0 0;
  }
  .area-wrapper {
    display: flex;
    justify-content: space-between;
    .figure-area {
      align-self: flex-start;
      box-shadow: 0 0 5px rgba(#ccc, 0.9);
      width: 480px;
      .figure-box {
        img {
          vertical-align: top;
          width: 100%;
        }
      }
    }
    .text-area {
      align-self: flex-start;
      width: 500px;
      p {
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        &.caution {
          color: red;
          font-weight: bold;
        }
      }
      a {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}