@charset "UTF-8";

/***** common style *****/
$devise_pc_min_width: 1280px;
$devise_tb_max_width: 1279px;
$devise_tb_min_width: 768px;
$devise_sp_max_width: 767px;

@media (max-width: $devise_tb_max_width) {
  .pc-visibility { display: none; } 
}
@media (min-width: $devise_pc_min_width) {
  .tb-visibility { display: none; }
}
@media (max-width: $devise_sp_max_width) {
  .tb-visibility { display: none; } 
}
@media (max-width: $devise_sp_max_width) {
  .pc-tb-visibility { display: none; }
}
@media (min-width: $devise_pc_min_width) {
  .tb-sp-visibility { display: none; } 
}
@media (min-width: $devise_tb_min_width) {
  .sp-visibility { display: none; }
}

// color settings
$blue: #6DAADE;

.main-container {
  margin: 0 auto;
  width: 1000px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }
  .area-wrapper {
    display: flex;
    .figure-area {
      width: 500px;
      .figure-box {
        img {
          vertical-align: top;
          width: 100%;
        }
      }
    }
    .text-area {
      width: 500px;
      p {
        font-size: 16px;
        line-height: 1.5;
      }
      a {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}